.jin-div {
    background-color: rgba(255, 160, 122, 0.85);
    height: 100px;
}
.s-div {
    background-color: rgba(253, 255, 123, 0.86);
    height: 50px;
}
.h-div {
    background-color: rgba(200, 200, 200, 0.86);
    height: 200px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.85);
}
.r-div {
    background-color: rgba(176, 182, 255, 0.86);
    height: 50px;
}
.j-div {
    background-color: rgba(144, 238, 144, 0.86);
    height: 50px;
}
.t-div {
    background-color: rgba(255, 160, 122, 0.85);
    height: 200px;
}
.kook-div {
    background-color: rgba(153, 235, 238, 0.85);
    height: 50px;
}
body {
    background-image: url("../Image/r.png");
}